<!--header-->
<header class="header-info" id="hdr">
    <nav class="nav-info">
        <div class="leftmenudiv">
            <h1><i class="fas fa-cloud-sun"></i>Weather</h1>
        </div>
    </nav>
</header>
